<section class="card">
  <div class="main-card-post" id="{{id}}">
      <div></div>
      <div style="float:left;"><a href="/api/comment/{{id}}">{{title}}</a></div>
      <div style="float:right;">Posted by {{user.username}} on {{format_date updated_at}}</div>
  </div>
  <div>
    {{content}}
  </div>
</section>