<section class="card">
  <div class="card-post" id="{{item.id}}">
      <div style="float:left;">{{item.title}}</div>
      <div style="float:right;">Posted by {{item.user.username}} on {{format_date item.updated_at}}</div>
  </div>
  <div>
    {{item.content}}
  </div>
</section>

<section class="card">
   <div class="card-post" style="background-color:blue;">
      <div style="float:right;"></div>
   </div>
   <div>
      <input type=hidden id="comment-id" value="{{item.id}}">
      <textarea id="comment-content" class="form-textarea" style="width: 100%;" rows="4"></textarea>
   </div>
   <div class="form-group">
      <button id="comment-new-content" class="btn btn-primary" style="width:100%;display:block;" type="submit">Submit</button>
      <button id="comment-update-content" class="btn btn-primary" style="width:100%;display:none;" type="submit">Update</button>
      <button id="comment-delete-content" class="btn btn-primary" style="width:100%;display:none;" type="submit">Delete</button>
   </div>
</section>

{{#each item.comment as |item|}}
<section class="card">
   <div id="{{item.id}}-{{item.user_id}}" data-comment="{{item.comment}}" class="card-comment"  style="background-color:blue;">
      <div style="float:right;">Follow Posted by {{item.user.username}} on {{format_date item.updated_at}}</div>
   </div>
   <div>
      <div>{{item.comment}}</div>
   </div>
</section>
{{/each}}